@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins&display=swap');

:root {
    --primary-color: #023047;
    --secondary-color: #FFB703;
    --accent-color: #FB8500;
    --text-color: #333;
    --background-color: #f4f4f4;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 50px;
    height: 150px;
}

.navbar-logo img {
    width: 130px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--secondary-color);
    background-color: var(--button-bg-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.navbar-links a:hover {
    color: #f4f4f4;
    background-color: var(--button-hover-bg-color);
    transform: scale(1.1);
}

.navbar-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

.navbar-links a:hover::before {
    width: 100%;
    left: 0;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    bottom: 50%;
    right: 0;
    background-color: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

.navbar-links a:hover::after {
    height: 100%;
    bottom: 0;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 80%;
}

.hero article img {
    float: right;
    margin-left: 20px;
    border-radius: 10px;
    width: 20%;
}

.section-title {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    color: var(--primary-color);
}

.section-content {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    color: var(--text-color);
}

.adventure-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.adventure-images figure {
    width: 18%;
    margin: 10px;
    text-align: center;
}

.adventure-images img {
    width: 100%;
    border-radius: 10px;
}

.adventure-images figcaption {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 10px;
    text-align: center;
    background-color: var(--accent-color);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 34px;
    height: 34px;
}