@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins&display=swap');

:root {
    --primary-color: #023047;
    --secondary-color: #FFB703;
    --accent-color: #FB8500;
    --text-color: #333;
    --background-color: #f4f4f4;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}


/* ============= NAVBAR =============== */

.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 50px;
    height: 150px;
}

.navbar-logo img {
    width: 130px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--secondary-color);
    background-color: var(--button-bg-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.navbar-links a:hover {
    color: #f4f4f4;
    background-color: var(--button-hover-bg-color);
    transform: scale(1.1);
}

.navbar-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

.navbar-links a:hover::before {
    width: 100%;
    left: 0;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    bottom: 50%;
    right: 0;
    background-color: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

.navbar-links a:hover::after {
    height: 100%;
    bottom: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.excursion {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease;
}

.excursion:hover {
    transform: scale(1.05);
}

.excursion img {
    width: 100%;
    height: auto;
    display: block;
}

.excursion h2 {
    font-size: 1.75rem;
    margin: 1rem 0;
}

.excursion p {
    font-size: 1rem;
    margin: 0 1rem 1rem 1rem;
}

.equipo {
    text-align: left;
    margin: 0 1rem 1rem 1rem;
}

.equipo li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #555;
}



/* ============= FOOTER =============== */

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 34px;
    height: 34px;
}